<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>登录 奇妙宠-分享爱宠的奇妙瞬间</title>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/statics/css/qmc_theme.css" th:href="@{css/login.css}"/>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body class="gray-bg">
    <div class="login-main-container">
        <h3>分享爱宠的奇妙瞬间</h3>
        <form class="login form-group" th:action="www.baidu.com" method="post">
            <input type="text" class="lg-name form-control" name="username" placeholder="用户名"/>
            <input type="password" class="lg-pwd form-control" name="password" placeholder="密码"/>
            <button type="submit" class="lg-btn btn btn-default">登录</button>
            <p class="regist-help">
                没有账号？
                <a th:href="www.baidu.com">注册</a>
            </p>
        </form>
    </div>

</body>
</html>