.login-box-msg{
    font-size: 18px;
    color: #0084ff;
}
.login-box-body .form-group{
    margin-top: 10px;
}
.login-box-body .form-control{
    border: 0;
    border-bottom: 1px solid #d8d8d8;
}
.login-box-body .form-control:focus{
    border-bottom: 1px solid #0084ff;
}
.forget-password{
    text-align: right;
    margin-bottom: 10px;
}
.login-div{
    width: 100%;
    margin: 0;
}
.btn-login{
    border-color: #0084ff;
    background-color: #0084ff;
}
.btn-login:hover{
    border-color: #0077e6;
    background-color: #0077e6;
}
.btn-qq,
.btn-weixin,
.btn-weibo{
    color: #8590a6;
    display: initial;
    overflow: visible;
}
.btn-qq:hover,
.btn-weixin:hover,
.btn-weibo:hover{
    color: #0084ff;
}
.btn-social>:first-child{
    border: 0;
}
.no-account{
    text-align: center;
    margin-top: 20px;
}
